<section class="tab {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="form-group">
      <label for="{{rootId}}-avclient-livekit.liveKitConnectionSettings.url">
        {{localize "LIVEKITAVCLIENT.liveKitServerURL"}}
      </label>
      <div class="form-fields">
        <input type="text"
          id="avclient-livekit.liveKitConnectionSettings.url"
          name="avclient-livekit.liveKitConnectionSettings.url"
          value="{{liveKitConnectionSettings.url}}">
      </div>
    </div>
    <div class="form-group">
      <label for="{{rootId}}-avclient-livekit.liveKitConnectionSettings.username">
        {{localize "LIVEKITAVCLIENT.liveKitServerAPIKey"}}
      </label>
      <div class="form-fields">
        <input type="text"
          id="avclient-livekit.liveKitConnectionSettings.username"
          name="avclient-livekit.liveKitConnectionSettings.username"
          value="{{liveKitConnectionSettings.username}}">
      </div>
    </div>
    <div class="form-group">
      <label for="{{rootId}}-avclient-livekit.liveKitConnectionSettings.password">
        {{localize "LIVEKITAVCLIENT.liveKitServerSecretKey"}}
      </label>
      <div class="form-fields">
        <input type="password"
          id="avclient-livekit.liveKitConnectionSettings.password"
          name="avclient-livekit.liveKitConnectionSettings.password"
          value="{{liveKitConnectionSettings.password}}"
          autocomplete="one-time-code">
      </div>
    </div>
</section>
